<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
 
        <bean id="service1" class="kr.ac.dankook.ServiceE" />
 
        <bean id="client1" class="kr.ac.dankook.ClientA">
                <constructor-arg ref="service1" />
        </bean>

		<import resource="classpath:/config.xml" />

</beans>