<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<error-page>
		<error-code>404</error-code>
		<location>/errorCode404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorCode500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/isErrorPage.jsp</location>
	</error-page>
</web-app>